body{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
h1{
    font-size: 65px;
}
.introduction{
    display: flex;
    margin-bottom: 20%;
}
.half-width{
width: 40%;
padding-left: 7%;
padding-right: 3%;
}
.make-dwon{
    padding-top: 30%;
}
.single-color{
    color: coral;
}
.link-button{
    text-decoration: none;
    border-radius: 50px;
    background-color: coral;
    padding: 25px 45px;
    background-image: linear-gradient(coral, orange);
    font-weight: 700;
}
.recipie{
    display: flex;
}
.one-third{
    width: 30%;
    margin: 2%;
    padding: 1%;
    box-shadow: 10px 10px 40px grey;
    background-image: url(imgage/food/stackveg);
}
.one-third-img{
    width: 100%;
}