body{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
h1{
    font-size: 65px;
}
.introduction{
    display: flex;
}
.half-width{
width: 40%;
padding-left: 7%;
padding-right: 3%;
margin-top: 3%;
}
.make-dwon{
    padding-top: 30%;
}
.single-color{
    color: coral;
}
.link-button{
    text-decoration: none;
    border-radius: 50px;
    background-color: coral;
    padding: 25px 45px;
    background-image: linear-gradient(coral, orange);
    font-weight: 700;
}